
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>2023 &copy; SV+</p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
</body>
</html>