<%- include("partials/header"); -%>

<h1>Add New Post</h1>


<div id="wrapper">
    <form action="/compose" method="POST">
        <div class="form-group">
            <div class="form-floating mb-3">
                <label for="floatingInput">Title</label>
                <input type="text" class="form-control" id="floatingInput" name="postTitle" placeholder="Title">       
            </div>
            <br/>
            <div class="form-floating mb-3">
                <label for="floatingTextarea2">Your Entry</label>
                <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" name="postContent" placeholder="Write your entry here"></textarea>
            </div>  
        </div>
        <button type="submit" class="btn btn-primary" name="submit">Publish</button>
    </form>
</div>
<%- include("partials/footer"); -%>